<html>
	<heah>
		<title>Farmacia Rapha - Sales</title>  
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/angular/paging.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet"/>
	</heah>
	<body ng-app="myApp" ng-class="ng-cloak">	
	
			
	
		<div class="generic-container" ng-controller="SalesController as ctrl"> 
<!-- 			<ul> -->
<!-- 	        	<li ng-repeat="x in ctrl.itemDetails">{{x}}</li> -->
<!-- 	    	</ul>			 -->
			<input type="text" ng-model="ctrl.itemDetail.inventory.product.barcode" name="barcode" class="name form-control input-sm" placeholder="Enter sale detail"  ng-minlength="3" ng-keypress="ctrl.addItemDetail($event)"/>
<!-- 			valor: {{ctrl.itemDetail}} -->
			
			<div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">Shopping Cart</span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
<!--                               <th>ID.</th> -->
                              <th>Name</th>
                              <th>Description</th>                             
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Barcode</th>
                              <th>Total</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="i in ctrl.itemDetails">
<!--                               <td><span ng-bind="i.id"></span></td> -->
                              <td><span ng-bind="i.inventory.product.name"></span></td>
                              <td><span ng-bind="i.inventory.product.description"></span></td>                              
                              <td><span ng-bind="i.price"></span></td>
                              <td>
<!--                               <span ng-bind="i.quantity"></span> -->
								<input type="number" ng-model="i.quantity" name="quantity" ng-minlength="1" ng-maxlength="4" ng-blur="ctrl.sum()"/>
                              </td>
                              <td><span ng-bind="i.inventory.product.barcode"></span></td>
                              <td><span ng-bind="i.price * i.quantity"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.removeItemDetail($index)" class="btn btn-danger custom-width">Remove</button>
<!--                               <button type="button" ng-click="ctrl.edit(i.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(i.id)" class="btn btn-danger custom-width">Remove</button> -->
                              </td>
                          </tr>
                          <tr>
                          	<td/>
                          	<td/>
                          	<td/>
                          	<td/>
                          	<td/>
                          	<td>
                          		Total:
                          	</td>
                          	<td>
                          		{{ctrl.total}}
                          	</td>
                          </tr>
                      </tbody>
                  </table>
                  <ul uib-pagination direction-links="false" boundary-links="true" total-items="ArrayLength" ng-model="currentPage"
            		items-per-page="10" max-size="maxSize" ng-change="onPageChange()">
    			</ul>
              </div>
          </div>
		</div>
		
	</body>
	<script src="js/app.js"></script>
	<script src="js/controller/sales/sales_controller.js"></script>
	<script src="js/service/inventory/inventory_service.js"></script>
</html>